
<style>
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

    .null-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

</style>

<footer>
        <a href="/index.html" class="null-button">Queer Resource Hub</a>|<a href="https://example.com" class="button-link">fill out this form to add a resource</a><br>
        <p>Copyleft ⓐ 2025 — No rights reserved</p>
</footer>