
<style>
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

    .null-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

</style>

<footer>
        <a href="/index" class="null-button">Queer Resource Hub</a>
        <br><a href="https://forms.gle/z5qckXQbbEU8ZyF47" class="button-link">Google form for hub additions</a><br>
        <p>Copyleft ⓐ 2025 — No rights reserved</p>
</footer>